/* --------COMMON------- */

.red{
    color: rgb(182, 50, 50);
}
.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.green_text{
    color:#599E71
}
.green_text:hover{
    cursor: pointer;
    color: #4a855f;
}
.transparent{
    background: transparent;
}
.header_text{
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: black;
}
.webix_secondary.green_btn .webix_button{
    background-color: #599E71;
    color: #F4F5F9;
    border-radius: 10px;
}
.webix_secondary.green_btn .webix_button:hover{
    background-color: #4a855f;
}
/* ----------BACKGROUND---------- */

.webix_full_screen.webixapp{
    background: url(https://cs11.pikabu.ru/post_img/big/2020/05/12/9/1589296666113294753.jpg) center no-repeat;
    background-size: cover;
}

/* -----------LOGIN------------- */

.start_form.webix_layout_form input{
    border: 1px solid #ADADAD;
    border-radius: 10px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}
.start_form.webix_layout_form input::placeholder{
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #848484;
}
.start_form.webix_layout_form{
    border-radius: 40px;
}
.webix_view.login_logo .webix_template img{
    max-width: 175px;
}
.webix_secondary.form_enter-btn .webix_button{

    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    
}
.bottom_text{
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
}

/* -----------HEADER--------------- */

.header_logo{
    max-width: 150px;
    cursor: pointer;
}
.header_user{
    border: 0.710145px solid #599E71;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}
.user_img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.header_user:hover{
    cursor: pointer;
}
.main_header .webix_template{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_link{
    margin: 0px 10px 0px 10px;
    font-size: 20px ;
}

/* ------------CUSTOM TABLES------------- */

.webix_view.table_header{
    background: #F4F5F9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.webix_view.webix_dtable.custom_table{
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #F4F5F9;
}
.custom_table .webix_ss_body{
    padding-top:15px
}
.webix_view.webix_dtable.custom_table div.webix_last_row{
    border-bottom: 1px solid rgba(89, 158, 113, 0.5);
}
.webix_column.name_column{
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    color: #131412;
}
.webix_column.align-center_column{
    text-align: center;
}
.webix_dtable.custom_table .webix_select_mark > div.webix_row_select{
    box-shadow: inset 2px 0 #4a855f;
}

/* -----------NOGROUPS TEMPLATE------------- */


.webix_view.nougroups_template{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
}
.webix_view.nougroups_template:hover{
    cursor: pointer;
    opacity: 75%;
}
.nougroups_header{
    padding-top: 32px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 67px;
}
.create_group{
    width: 100%;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
}